body {
    background-color: lightseagreen;  
}

/** HEADER **/

#header-nav {
    background-color: coral;
    border-radius: 0;
    border: 0;
    position: relative;
}
.navbar-brand p{
color: ivory;
text-transform: uppercase;
font-weight: bold;
font-size: 40px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
   border: 1px solid #040200 
}

.dropmenu {
    color: ivory;
    text-transform: uppercase;
    display: block;
}
/* BODY */
h1.text-center {
    color: blueviolet;
}
section {
    background-color: white;
    
}