* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.App {
  min-height: 100vh;
  height: 100%;
  background-color: whitesmoke;
  padding-bottom: 3em;
}
/*NavBar*/
nav {
  height: 6em;
  display: flex;
  background-color: rgb(60, 99, 99);
  align-items: center;
  margin-bottom: 1em;
}
.logo {
  height: 100%;
}
.navItems {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 1em;
  align-items: center;
}
.navItems li,
.link {
  color: white;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  font-size: 1.1em;
  text-decoration: none;
}

.navItems .link:hover {
  background-color: rgb(64, 121, 105);
}
.mobileNav {
  display: none;
  margin-left: auto;
  padding: 2em;
  color: rgb(236, 76, 76);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .navItems.expanded {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 6em;
    width: 100%;
    list-style: none;
    background-color: rgb(60, 99, 99, 0.8);
    border-top: solid whitesmoke 0.25em;
    z-index: 1;
  }
  .navItems {
    display: none;
    padding: 0;
    height: 50%;
    width: 100%;
  }
  .navItems li,
  .link {
    color: white;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
  }
  .mobileNav {
    display: block;
  }
}
/*Animated component*/
.title {
  font-size: 4em;
  font-family: cursive;
  letter-spacing: 0.1em;
}
.wrapper {
  margin: auto;
  animation: scroll 70s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #111111;
  color: whitesmoke;
  height: 25vh;
  width: 90vw;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media screen and (max-width: 996px) {
  .title {
    font-size: 3em;
  }
}
/*sidebar*/
.sidebar {
  display: flex;
  flex-direction: column;
  width: 8vw;
  position: fixed;
  right: 0;
  top: 50vh;
  align-items: flex-end;
}
.sidebar a {
  display: flex;
  justify-content: right;
  padding-right: 0.5em;
}
.icon {
  width: 40%;
  padding: 1em 0.5em 1em 0;
}
@media screen and (max-width: 1200px) {
  .sidebar {
    width: 10vw;
  }
  .icon {
    width: 50%;
  }
}
@media screen and (max-width: 996px) {
  .icon {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .icon {
    width: 100%;
  }
}
/*About me*/
.picture {
  height: 38vh;
  border-radius: 50%;
  margin-right: 2em;
  margin-bottom: 1em;
}
.about_container {
  padding: 1em;
  text-align: left;
  align-items: center;
  display: flex;
  font-size: 1.5em;
  font-weight: 400;
}
.about_text {
  width: 65%;
}
@media screen and (max-width: 1350px) {
  .about_container {
    flex-direction: column;
    font-size: 1.4em;
  }
  .picture {
    margin-right: 0;
    height: 36vh;
  }
  .about_text {
    width: 90%;
  }
}
/*Project page*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  width: 90vw;
  gap: 0.5em;
  margin: auto;
}
.proj_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: solid rgb(60, 99, 99) 0.75em;
  border-radius: 0.5em;
  margin-top: 2em;
}
.project_title {
  text-align: center;
  padding: 0.5em 0;
}
.project_img {
  width: 90%;
  height: 30vh;
  padding: 0.4em 0;
}
.project_desc {
  width: 80%;
  padding: 1em;
  font-size: 1em;
}
.project_url {
  text-decoration: none;
  color: whitesmoke;
  background-color: rgb(60, 99, 99);
  padding: 0.75em;
  border-radius: 0.3em;
  cursor: pointer;
  margin-bottom: 0.5em;
}
.project_url:hover {
  color: rgb(60, 99, 99);
  background-color: whitesmoke;
  border: solid rgb(60, 99, 99) 0.1em;
}
@media screen and (max-width: 1250px) {
  .grid {
    grid-template-columns: 1fr;
    width: 55vw;
  }
}
@media screen and (max-width: 996px) {
  .grid {
    width: 85vw;
    margin: 0;
  }
}
/* Certification Page*/
.cert_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 2em;
  list-style: none;
  font-size: 1.5em;
}
.cert_icon {
  margin-right: 0.5em;
  color: rgb(60, 99, 99);
}
.cert_item {
  color: rgb(60, 99, 99);
  padding: 0.5em;
}
.cert_heading {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}
.cert_item:nth-child(odd) {
  background-color: rgb(60, 99, 99);
  color: whitesmoke;
}
.cert_item:nth-child(odd) .cert_icon {
  color: whitesmoke;
}
@media screen and (max-width: 950px) {
  .cert_heading {
    font-size: 1.2em;
  }
  .cert_container {
    width: 70%;
  }
}
