* {
  margin: 0;
  padding: 0;
}
.App {
  min-height: 100vh;
  background-color: whitesmoke;
}
/*NavBar*/
nav {
  height: 6em;
  display: flex;
  background-color: rgb(60, 99, 99);
  align-items: center;
  margin-bottom: 1em;
}
.logo {
  height: 100%;
}
.navItems {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 1em;
  align-items: center;
}
.navItems li,
.link {
  color: white;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  text-decoration: none;
}

.navItems .link:hover {
  background-color: rgb(64, 121, 105);
}
.mobileNav {
  display: none;
  margin-left: auto;
  padding: 2em;
  color: rgb(236, 76, 76);
  cursor: pointer;
}
@media screen and (max-width: 720px) {
  .navItems.expanded {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 6em;
    width: 100%;
    list-style: none;
    background-color: rgb(60, 99, 99, 0.8);
    border-top: solid whitesmoke 0.25em;
    z-index: 1;
  }
  .navItems {
    display: none;
    padding: 0;
    height: 50%;
    width: 100%;
  }
  .navItems li,
  .link {
    color: white;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .mobileNav {
    display: block;
  }
}
/*Animated component*/
.title {
  font-size: 4em;
  font-family: cursive;
  letter-spacing: 0.1em;
}
.wrapper {
  margin: auto;
  animation: scroll 70s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #111111;
  color: whitesmoke;
  height: 25vh;
  width: 90vw;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}
